#content{
 max-width: 1600px;
 margin : 0 auto;
 text-align: center;
} 
#background {
    height: 725px;
}
body {
    background-color: whitesmoke; 
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
head{
    border: 10px solid #d9c2a3;
    box-sizing: border-box;
}

header {
    background-color:rgba(20,30,13, .7);
}
footer {
    background-color:rgba(20,30,13, .7);
}
.icon {
    width: 80px;
}
.hero-img {
    width: 100%;
}
nav a {
    color: blue ;
    border: 1px solid lightskyblue;
    background-color: lightblue;
} 
nav a {
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
} 
nav a {
    display: inline-block ;
    text-align: center;
} 
.home-title{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 2em;
}
.sub-title{
    text-align: center;
}
.button-box{
    text-align: center;
}

.home-grid{
    text-align: center;
}
.card-img{

    border: 5px solid #d9c2a3 ;
    box-sizing: border-box;
}
#background {
    height: 725px;
    border: 1px solid darkorange;
    padding: 1px 1px 1px 1px;
    background-color: #d9c2a3;

}

.mountains{
    display: flex;
    justify-content: center ;
   
}
.book{
    color: blue ;
    border: 1px solid lightskyblue;
    padding: 5px 5px 5px 5px;
    background-color: lightblue;
}
.join{
    color: black ;
    color: blue ;
    border: 1px solid lightskyblue;
    padding: 5px 5px 5px 5px;
    background-color: lightblue;

}
.msg{
    background-color:rgba(20,30,13, .7);
    line-height: 1.5em;
}
