#content{
    max-width: 1600px;
    margin : 0 auto;
    text-align: center;
} 
#background {
       height: 725px;
}
body{
       background-color: whitesmoke; 
       margin: 0;
       padding: 0;
}
h2{
       margin: 0;
}
head{
       border: 10px solid #d9c2a3;
       box-sizing: border-box;
}
   
header{
       background-color:rgba(74, 170, 6, 0.7);
       display: grid;
       grid-template-columns: 150px auto;   
}
footer{
       background-color:rgba(166, 224, 125, 0.7);
       padding: 25px 50px;
       margin-top: 200px; 
       display: flex;
       justify-content: space-around;
       align-items: center;
       color: white;
}
.icon{
       width: 80px;
       padding-top: 5px;
       justify-self: center;
       align-self: center;
}
.logo{
       padding-top: 10px;
       justify-self: center;
       align-self: center;
       width: 100%;
       border-radius: 50%;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
    font-size: 22px;
    border: 4px ;
    display: grid;
    grid-template-columns: 150px auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 150px;
    
} 
nav a {
    display: inline-block ;
    text-align: center;
}
nav a:hover {
background-color: aquamarine  ;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    color: #89F9D9 ;
    font-size: 2em;
    font-family: 'Rubik Moonrocks', 'Splash';
    
}
#hero-box {
    grid-column: 2/4;
    grid-row: 1/3;
    z-index: -1;
    padding: 100px;
    
}

.hero-img {
    width: 70%;
    border-radius: 100%;
    object-fit: cover ;
    align-items: center;
    border: rgb(15, 15, 15);
    padding: 20px;
   
}
.paragraph {
color: blue;
font-family: 'Rubik Moonrocks', 'Splash';
}


#Page2
headertwo{
       background-color:rgba(8, 5, 6, 0.7);
       display: grid;
       grid-template-columns: 150px auto;   
}
.logotwo{
       padding-top: 10px;
       justify-self: center;
       align-self: center;
       width: 20%;
       border-radius: 50%;
     
}
.hero-img2 {
       width: 80%;
       display: grid;
       grid-template-columns: 2fr 3fr 2fr;
      
}
.hero-box2 {
       grid-column: 1/4;
       grid-row: 1/3;
       z-index: -1;

}
.paragraph1{
       text-align: center;
       font-family: cursive;
       background-color: rgb(233, 233, 230);
       color: rgb(36, 9, 134);
       

     
}
.paragraph2 a{
       color: rgb(226, 152, 13);
       text-decoration: none;
       display: block;
       font-size: 15px;
       background-color:rgb(114, 229, 245);  
       font-family: cursive;
       text-align: center;
       
       
       

}
.paragraph2 :hover{
       background-color: rgb(209, 240, 99);
       text-align: center;
       padding-left: 20px;
}
.two {
    text-align: center;
    background-color: #e3ec63;
    font-size: 130%;
    font-family: cursive;
       
}
.Three{
   background-color: #f7d5fc;
}

#Page3
.hero-img3 {
       width: 80%;
       display: grid;
       grid-template-columns: 2fr 3fr 2fr;
      
}
.hero-box3 {
       grid-column: 1/4;
       grid-row: 1/3;
       z-index: -1;

}
.home{
       background-color: aqua;
      align-items: center;
      color: black;
      text-align: end;
}
   #pagtwoimages
   * {box-sizing:border-box}

   /* Slideshow container */
   .slideshow-container {
     max-width: 1000px;
     position:relative;
     left: 300px;
     margin: auto;
     display: block;
    padding: 60px;
     
}
   
   /* Hide the images by default */
   .mySlides {
     display:none;
     
}
   
   /* Next & previous buttons */
   .prev, .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     margin-top: -22px;
     padding: 16px;
     color: white;
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
}
   
   /* Position the "next button" to the right */
   .next {
     right: 0;
     border-radius: 3px 0 0 3px;
 }
   
   /* On hover, add a black background color with a little bit see-through */
   .prev:hover, .next:hover {
   background-color: rgba(236, 163, 163, 0.8);
}
   
   /* Caption text */
   .text {
     color: #f2f2f2;
     font-size: 15px;
     padding: 8px 12px;
     position: absolute;
     bottom: 8px;
     width: 100%;
     text-align: center;
}
   
   /* Number text (1/3 etc) */
   .numbertext {
     color: rgb(75, 79, 82);
     font-size: 12px;
     padding: 8px 12px;
     position: absolute;
     top: 0;
}
   
   /* The dots/bullets/indicators */
   .dot {
     cursor: pointer;
     height: 15px;
     width: 15px;
     margin: 0 2px;
     background-color: rgb(163, 235, 253);
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
}
   
   .active, .dot:hover {
     background-color: #e3ec63;
}
   
   /* Fading animation */
   .fade {
     animation-name: fade;
     animation-duration: 1.5s;
}
 
   
   @keyframes fade {
     from {opacity: .4}
     to {opacity: 1}
}
   
        
 /* On smaller screens, decrease text size */
 @media only screen and (max-width: 300px) {
 .text {font-size: 11px}
}